{{/*
  blocks/hero

  @author @AdamChlan @regisphilibert

  @context Map (.)
    Page (.Page)
    Map (.block)
      String (.title)
      String (.image)
      String (.text_color)
*/}}
{{ with .block }}
<div class="relative py-24 md:pt-40 md:pb-36">
  {{ with .image }}
    {{ with resources.Get . }}
    <img class="absolute inset-0 object-cover w-full h-full brightness-[.85] z-10" src="{{ .RelPermalink }}">
    {{ end }}
  {{ end }}
  <div class="container relative z-20 mx-auto {{ if eq .text_color "white" }}text-white{{ end }}">
    {{ with .title }}
      <h1 class="text-3xl md:text-[2.625rem] md:leading-[3.125rem] max-w-2xl font-semibold lg:pr-10">{{ . }}</h1>
    {{ end }}
  </div>
</div>
{{ end }}

